:root {
    --main-gradient: linear-gradient(90deg, #2D5788, #1CA093);
    --sec-gradient: linear-gradient(90deg, #5B14B7, #2D5788)
}

@media (max-width: 480px) {
    main section:first-child {
        padding: 110px 0 0;
    }

    main section:first-child > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        background-image: url(../../../images/funcionalidades/header-decorative.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    main section:first-child > div:first-child h1 {
        color: #3F8F96;
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
    }

    main section:first-child > button {
        display: block;
        margin: 0 auto 30px;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        background-color: #5B14B7;
        color: white;
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 100ms ease;
    }

    main section:first-child > button:active {
        background-color: #2e0a5c;
    }

    main section:first-child > div:not(:first-child) {
        padding: 60px 0;
        background-color: #eee;
    }

    main section:first-child > div:not(:first-child) h2 {
        margin-bottom: 80px;
        color: #333;
        font-size: 1.8rem;
        text-align: center;
    }

    main section:first-child > div div {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 0 10vw;
        padding: 100px 30px 30px;
        border-radius: 10px;
        background-color: white;
        font-weight: 700;
        box-shadow: 0 0 5px;
    }

    main section:first-child > div div img {
        position: absolute;
        top: 0;
        left: 50%;
        padding: 20px;
        border-radius: 50%;
        background-color: #45919F;
        transform: translate(-50%, -30%);
    }

    main section:first-child > div div span {
        margin: 0 20px;
        font-weight: 800;
    }

    main section:first-child > div div span:nth-child(3) {
        margin-bottom: 15px;
    }

    main section:first-child > div div span:nth-child(4) {
        color: #1F547B;
    }

    main section:first-child > div div > span:last-child {
        position: relative;
        display: block;
        width: 100%;
        height: 20px;
        margin: 0;
        background-color: #5CA5BC;
        color: #333;
    }

    main section:first-child > div div > span:last-child::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        background: var(--sec-gradient);
    }
}