:root {
    --main-gradient: linear-gradient(90deg, #2D5788, #1CA093);
}

@media (max-width: 480px) {
    main section:first-child {
        padding: 90px 0 10px;
    }

    main section:first-child > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 140px;
        background-image: url(../../../images/funcionalidades/header-decorative.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    main section:first-child > div:first-child h1 {
        color: #23a3b4;
        font-size: 1.25rem;
        text-align: center;
    }

    main section:first-child > button {
        display: block;
        margin: 0 10vw 30px auto;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        background-color: #3EADA3;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 100ms ease;
    }

    main section:first-child > button:active {
        background-color: #23615c;
    }

    main section:first-child > div:not(:first-child) {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin: 0 10vw 30px;
        padding: 20px;
        border-radius: 10px;
        background: var(--main-gradient);
        color: white;
        font-weight: 700;
    }

    main section:first-child > div:not(:first-child) img {
        align-self: center;
        width: 40%;
    }

    main section:first-child > div:not(:first-child) > span:last-child {
        position: relative;
        display: block;
        height: 20px;
        width: 100%;
        border: 1px solid white;
        background-color: white;
    }

    main section:first-child > div:not(:first-child) > span:last-child::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50px;
        background-color: #C9C6C6;
    }

    main > div:last-child {
        height: 140px;
        background-image: url(../../../images/funcionalidades/footer-decorative.webp);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}