::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#2D5788, #1CA093);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat',sans-serif;
}

a {
    color: inherit;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

p.light-text {
    color: #404040;
    font-size: 1.25rem;
}