:root {
    --main-gradient: linear-gradient(90deg, #2D5788, #1CA093);
}

@media (max-width: 480px) {
    main section:first-child {
        padding: 120px 15vw 70px;
    }

    main section:first-child h2 {
        margin: 0 0 30px 20px;
        color: #23818E;
        font-size: 2.1rem;
    }

    main section:first-child img {
        margin-bottom: 40px;
    }

    main section:nth-child(2) {
        padding: 12vw 15vw 15vw;
        background: var(--main-gradient);
        color: white;
    }

    main section:nth-child(2) div {
        margin-bottom: 60px;
    }

    main section:nth-child(2) div:last-child {
        margin: 0;
    }

    main section:nth-child(2) div img {
        margin-bottom: 20px;
    }

    main section:nth-child(2) div p {
        font-size: 1.25rem;
    }

    main section:nth-child(3) {
        padding: 70px 15vw 0;
    }

    main section:nth-child(3) h2 {
        margin: 0 0 80px 20px;
        color: #23818E;
        font-size: 2.1rem;
    }

    main section:nth-child(3) > div {
        margin-bottom: 100px;
    }

    main section:nth-child(3) div h3 {
        margin: 60px 0 30px;
        color: #23818E;
        font-size: 1.9rem;
    }

    main section:nth-child(4) {
        padding: 50px 5vw 60px;
        background-color: #f2f2f2;
    }

    main section:nth-child(4) > div {
        display: flex;
        align-items: center;
        column-gap: 30px;
        margin-bottom: 60px;
    }

    main section:nth-child(4) > div:last-child {
        margin-bottom: 0;
    }

    main section:nth-child(5) {
        padding: 80px 15vw;
    }

    main section:nth-child(5) div picture {
        display: flex;
        justify-content: center;
    }

    main section:nth-child(5) div img {
        width: 70%;
    }

    main section:nth-child(5) div p {
        margin: 50px 0 ;
        color: #01616E;
        font-size: 1.25rem;
        text-align: center;
    }

    main section:nth-child(5) div a {
        display: block;
        padding: 13px 0;
        border-radius: 35px;
        background-color: #2d5889;
        color: white;
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
    }

    main section:nth-child(5) div a:active {
        background-color: #23818e;
    }
}