@media (max-width: 480px) {
    header {
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 0 6vw;
        background: linear-gradient(90deg, #2D5788, #1CA093);
        z-index: 1;
    }

    header > a:first-child {
        line-height: 0;
        z-index: -1;
    }

    #logo {
        width: clamp(85px, 25vw, 109px);
    }

    #menu {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 38px;
        height: 30px;
        cursor: pointer;
        overflow: hidden;
    }

    #menu > span {
        position: absolute;
        width: 100%;
        height: 6px;
        border-radius: 2px;
        background-color: white;
        transition: transform 250ms ease-in, top 250ms ease-in;
    }

    #menu > span:first-child {
        top: 0;
    }

    #menu > span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    #menu > span:last-child {
        top: 100%;
        transform: translateY(-100%);
    }

    #menu > span:first-child.close, #menu:focus-visible > span:first-child, header:has(nav ul li a:focus-visible) #menu > span:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    #menu > span:nth-child(2).close, #menu:focus-visible > span:nth-child(2), header:has(nav ul li a:focus-visible) #menu > span:nth-child(2) {
        transform: translateX(-110%);
    }

    #menu > span:last-child.close, #menu:focus-visible > span:last-child, header:has(nav ul li a:focus-visible) #menu > span:last-child {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    header nav {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 500ms ease;
        z-index: -1;
    }

    header nav.show, header:has(#menu:focus-visible) nav, nav:has(ul li a:focus-visible) {
        transform: translateX(0);
    }

    #menu-items {
        padding: 100px 10px 190px 50px;
        border-bottom-left-radius: 100%;
        background-color: #05464C;
        color: white;
    }

    #menu-items li a {
        display: inline-block;
        padding: 5px 0;
        font-size: 1.2rem;
        text-decoration: none;
    }

    #menu-items li a:hover {
        text-shadow: 0 0 5px white;
    }
}